$background-color: #001234;
$themecolor--primary: #ee5b2c;
$themecolor--hover: #ad431f;
$themecolor--secondary: #172a4d;
$phone-breakpoint: 486px;
$tablet-breakpoint: 778px;
$screen-breakpoint: 1200px;
