@import "variables";

* {
  box-sizing: border-box;
}
body {
  font-size: 18px;
}
.app {
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
  font-family: Open Sans, sans-serif;
  @media screen and (min-width: $phone-breakpoint) {
    padding: 0 50px;
  }
}
