@import "variables";

* {
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: Open Sans, sans-serif;
}
.app {
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
  @media screen and (min-width: $phone-breakpoint) {
    padding: 0 50px;
  }
}
.streamer {
  color: $themecolor--primary;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 33px;
  margin: 0 0 65px 0;
}
