@import "variables";

.button {
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
.button i {
  margin-left: 8px;
}

.button--orange {
  background-color: $themecolor--primary;
  color: #fff;
}

.button--blue {
  background-color: $themecolor--secondary;
  color: #fff;
}

.button--bordered {
  background-color: #fff;
  border: 2px $themecolor--primary solid;
  color: $themecolor--primary;
}

.m1 {
  margin-top: 25px;
  @media screen and (min-width: $phone-breakpoint) {
    margin-top: 0;
    margin-left: 20px;
  }
}

.m2 {
  margin-top: 10px;
}
