@import "variables";

.button {
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.button span {
  margin-left: 8px;
}

.button--orange {
  background-color: $themecolor--primary;
  color: #fff;
}

.button--blue {
  background-color: $themecolor--secondary;
  color: #fff;
}

.button--bordered {
  background-color: #fff;
  border: 1px $themecolor--primary solid;
  color: $themecolor--primary;
  transition: all 0.4s;
}
.button--bordered:hover {
  background-color: $themecolor--primary;
  color: #fff;
}

.button--submit {
  width: 100%;
  align-self: flex-end;
  text-align: center;
  @media screen and (min-width: $tablet-breakpoint) {
    width: 20%;
  }
}

.button--contact {
  font-size: 12px;
  font-weight: 800;
  margin-top: 15px;
}

.m1 {
  margin-top: 25px;
  @media screen and (min-width: $phone-breakpoint) {
    margin-top: 0;
    margin-left: 20px;
  }
}

.m2 {
  margin-top: 10px;
}
