@import "variables";

.menu {
  z-index: 50;
  &__container {
    display: flex;
  }
  &__slider {
    background-color: $themecolor--secondary;
    opacity: 1;
    position: absolute;
    top: -55vh;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 50vh;
    transition: top 0.8s cubic-bezier(0.17, 0.04, 0.03, 0.94), opacity 0.8s cubic-bezier(0.17, 0.04, 0.03, 0.94);
  }
  &__toggler {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 25px;
    @media screen and (min-width: $phone-breakpoint) {
      padding-right: 50px;
    }
  }
}
.menu__slider.opened {
  opacity: 0.95;
  top: 0;
}
