@import "variables";

.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  @media screen and (min-width: $phone-breakpoint) {
    padding: 15px 50px;
  }
  &__brand {
    padding: 10px 0;
    .name {
      font-weight: 800;
      font-size: 17px;
      padding-bottom: 5px;
      letter-spacing: -1px;
    }
    .title {
      font-size: 10px;
      letter-spacing: 1px;
    }
  }
  &__menu {
    z-index: 10;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    @media screen and (min-width: $phone-breakpoint) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}
