@import "variables";
.portfolio {
  padding-top: 75px;
  &__container {
    position: relative;
    border-bottom: 1px #e0e0e0 solid;
    padding-bottom: 75px;
    @media screen and (min-width: $tablet-breakpoint) {
      padding-bottom: 125px;
    }
  }
  &__projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media screen and (min-width: $tablet-breakpoint) {
      justify-content: space-between;
    }
  }
}
