@import "variables";

.skills {
  border-bottom: 1px #e0e0e0 solid;
  padding-top: 75px;

  @media screen and (min-width: $tablet-breakpoint) {
    padding-top: 100px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 75px;
    @media screen and (min-width: $tablet-breakpoint) {
      flex-direction: row;
      padding-bottom: 125px;
    }
  }
  &__content {
    font-size: 16px;
    width: 100%;
    line-height: 27px;
    padding: 0;
    @media screen and (min-width: $tablet-breakpoint) {
      width: 40%;
      padding-right: 25px;
    }
  }
  .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px 0;
    width: 100%;
    @media screen and (min-width: $tablet-breakpoint) {
      padding: 0;
      width: 60%;
    }
    &__item {
      position: relative;
      display: flex;
      padding: 25px;
      .caption {
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.4s;
        padding-bottom: 100%;
        padding-right: 5px;
        padding-left: 5px;
        color: $themecolor--secondary;
      }
    }

    .iconify {
      width: 75px;
      height: 75px;
      transition: all 0.4s;
    }

    .html {
      color: #e34f26;
    }
    .css {
      color: #167dbe;
    }
    .sass {
      color: #cc6699;
    }
    .js {
      color: #ffc600;
    }
    .react {
      color: #00d8ff;
    }
    .redux {
      color: #764abc;
    }
    .gulp {
      color: #d6504f;
    }
    .git {
      color: #171515;
    }
    .wordpress {
      color: #21759b;
    }
    .magento {
      color: #ec5d21;
    }
    .webpack {
      color: #8ed6fb;
    }
    .babel {
      color: #eacf3a;
    }
    .bootstrap {
      color: #563d7c;
    }
    .jquery {
      color: #21609b;
    }
  }
}
