@import "variables";

.skills {
  &__container {
    display: flex;
    flex-direction: row;
  }
  &__content {
    font-size: 16px;
    width: 50%;
    line-height: 27px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    .fab {
      flex: 1 0 25%;
      padding: 0 25px 115px 25px;
      width: 75px;
      height: 75px;
      font-size: 75px;
      color: $themecolor--secondary;
      transition: all 0.4s;
    }
    .fa-html5:hover {
      color: #e34f26;
    }
    .fa-css3-alt:hover {
      color: #167dbe;
    }
    .fa-sass:hover {
      color: #cc6699;
    }
    .fa-js-square:hover {
      color: #ffc600;
    }
    .fa-react:hover {
      color: #00d8ff;
    }
    .fa-gulp:hover {
      color: #d6504f;
    }
    .fa-github:hover {
      color: #171515;
    }
    .fa-wordpress:hover {
      color: #21759b;
    }
    .fa-magento:hover {
      color: #ec5d21;
    }
  }
}
